.woodTable {
    background: url('../media/woodTable.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

  }

.deadCenter {
    padding: 50%;
    margin: 50%;
    

  }