<!DOCTYPE html>
<html>
    <head>
        <title>Henrique Brandão - PGP</title>
        <meta name="viewport" content="width=device-width"/>
        <meta charset="UTF-8"> 
    </head>
    <body>
        <div style="text-align: justify;">
            <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v4.10.7
Comment: https://openpgpjs.org

xsBNBF2L1JEBCADaUrI//xLXQmj8BLEsgHn6pXJj2v+gYgwMbrP6YUAcK0X9
nMooHbsIdG7vQHkefJBJvrqW3j200NjFpdgVEmrWk27UlsMZsRQfpnPkwtpU
B4MV7Yv+CSTRLkc/vo7E1T4QWbVIOrZTF+U8xBb+BB82jd3k2dpmYrpzzK++
5I29RfTFq1jhYlWa5IUqBRhqmkiIofRYrrgvSOhkmX/oAYMeF1gpuxjSFegF
zmHt8ZgKv4wps+1SG9e5BTPsy+OYTj//kfn+W0/jDfw7pZ4aldCxAQcSzy7O
jut870pzGt1evwlzRQHYzacM2HHb9v/KfWgU69Bia1yoICG0M27j0L65ABEB
AAHNH2hicmFuZGFvQHBtLm1lIDxoYnJhbmRhb0BwbS5tZT7CwHUEEAEIAB8F
Al2L1JEGCwkHCAMCBBUICgIDFgIBAhkBAhsDAh4BAAoJEOoR6C2ibjECSJAH
/1PJ2XG6/R/YlnBqYzTY0AA4Z1cAL0KKSAKYQXrlhNus1i/ti1bmuqYUu7BL
FSvfGMuqXGGp4VcVRiQYkuSgGOR7GYWZXzOdE3HGg/Y/lQwejeIp2U5IB9A6
bIfolBRJu0jlydQuLjXO/2MD8fj4UDwpSKufTtTSb8HfozqBJS22qb44ISBX
83Cot7RreFkoFBhM119ATwwhaRxOdSmfa5TJg7SDNyqnHsqhQ6K3lGKpamU8
W3bEb6PVi4u77mI+eQZRsMod9p38hP/tf8xpdl8SoTlIn2gii6bYdm44gk5C
i2iU7xx6umxncSy874x7X7Uobz6FlV7PCciO4+g98q7OwE0EXYvUkQEIAJOs
zrLyj/DvwQHO2tWtAYtoy1H79JLSwNBl6ucaxmHOuxXu5clUF9hWrxgnrash
QQJhtFwWa56A/6KgQS/QGiAY4Bg5lx/WIMw1rhjjc1as0CNFayZk+QL3/FOz
0ixJ/f3t16ims+JQ4za+agz/kx/zyLA0yzV10kD1Z58P9fTWTMSP8PlmqD1o
tgt2otSTEpLu5EDOlVaNg/SZMC8jflF+7biig3q9OTpmqvrVEXRTfuxlbUE9
tmLYgVI+HGVYR2zPVHiSR0BbnfJQD0DRyiD2DJD1pfo1k5GRhklv9iU28iNF
AlmIVFYekB05CFMWqiorsxbv7GcpwG4NwSghxIEAEQEAAcLAXwQYAQgACQUC
XYvUkQIbDAAKCRDqEegtom4xAlUACADUuSCo8Ir8tnL6epqTmaf4k413uNwD
JDrPaI5HAzC9cVKICEzOC44OOpEyFZUhdS9FjkOGc9TbqksUT/m3c2T4fi8Z
53nja2R0zrO61HBfbMLo4CAA4IvYHpWeZszX35ZXSzCOLYLZ+YPO0lDPHkas
9snwZXIgVHjw3u0b02cYnolGmnbhqqWlI1EjaZVEKmP7fR1UC/M4O4J74w/U
OJcYQscSNJRq4Sb9xpdpHz6jC4MPxwcCoylez3QFwWK+KG1X9HroZCcclG8Y
+5hHibkRREWQYIa6TtXbKb/KZmXbv19nLIYutBBziLe2vewg0eL5nqALZEpb
PIER6LOmYSwM
=J6VG
-----END PGP PUBLIC KEY BLOCK-----
            </pre>
        </div>
    </body>
</html>
